.homeadmin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.content-homeadmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
}
.admin-slider-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: auto;
  flex-shrink: 0;
}
.homeadmin-inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  height: 40%;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 55px;
}
.add-new-slider-input {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.add-new-photo-btn {
  align-self: start;

  border: none;
  background-color: #86a760;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
