.admin-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #171821;
  overflow: hidden;
}
.admin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-left: 20%;
  padding: 20px;
  padding-top: 20px;

  overflow: auto;
  height: 100vh;
  flex-grow: 1;
}
.admin-render-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}
