.slider-container {
  width: 90%;
  margin: auto;
  height: 100%;
}

.slick-prev,
.slick-next {
  z-index: 2;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slider-photo-admin {
  position: relative;
}
.slider-button-delete {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  left: 10px;
  background-color: #a15a5a;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.slider-button-delete:hover {
  background-color: #762828;
}
.slider-button-delete:focus {
  outline: none;
}
.slider-button-delete:active {
  background-color: #cc0000;
}
