.content-item {
  width: 100%;
  height: 16%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.content-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.products-information {
  width: 45.2%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.product-names {
  width: 100%;
  height: 100%;
  text-align: start;
  text-overflow: inherit;
  font-size: 12px;
}
.payment-information {
  width: 15%;
  height: 80%;
  display: flex;
  flex-direction: column;

  align-items: start;
  justify-content: space-between;
}
.payment-information span {
  width: 100%;
  text-align: start;
  font-size: 14px;
}
.payment-price {
  font-weight: bold;
}
.payment-status {
  color: gray;
}
.status-information {
  width: 13.6%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.order-status-div {
  font-size: 12px;
  text-align: center;
  width: 90%;
  padding: 5px;
  background-color: #d3d3d3;
  color: #848484;
  border: none;
  border-radius: 10px;
}
.order-status-div.red {
  background-color: #db9595;
  color: #783333;
}
.order-status-div.orange {
  background-color: #e3e379;
  color: #cc9752;
}
.order-status-div.green {
  background-color: #aadb95;
  color: #2c662e;
}
.accordion-body {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  justify-content: space-between;
  min-height: 300px;
  max-height: 350px;
}
.accordion-body-row-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: auto;
}
.update-order-button {
  border: none;
  border-radius: 10px;
  font-size: 10px;
  padding: 10px;
  background-color: #7ec880;
}
.accordion-body-row-2 {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 80%;
  gap: 10px;
}
.products-body {
  border-radius: 10px;
  background-color: #ebebeb;
  width: 50%;
  height: 100%;
  min-height: 235px;
  max-height: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: auto;
  padding: 10px;
  gap: 10px;
}
.address-body {
  border-radius: 10px;
  background-color: #ebebeb;
  width: 50%;
  height: 100%;
  min-height: 235px;
  max-height: 235px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: auto;
  padding: 10px;
  gap: 10px;
  font-size: 12px;
}
.address-body span {
  text-align: start;
}
.accordion-content-item {
  width: 100%;
  height: 16%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.accordion-content-item img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.accordion-products-information {
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.accordion-payment-information {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-payment-price {
  width: 30%;
  height: 100%;
  text-align: start;
  text-overflow: inherit;
  font-size: 10px;
}
.accordion-payment-count {
  width: 30%;
  height: 100%;
  text-align: start;
  text-overflow: inherit;
  font-size: 10px;
}
.accordion-product-names {
  width: 100%;
  height: 100%;
  text-align: start;
  text-overflow: inherit;
  font-size: 10px;
}
.admin-accordion-body.accordion-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 5px;
  max-height: 200px;
  min-height: 200px;
}
.admin-accordion-body.accordion-body textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  max-height: 150px;
  height: 70px;
  font-size: 12px;
}

.admin-accordion-header.accordion-header button {
  font-size: 10px;
  padding: 5px;
  margin: 0;
}

.send-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #86a760 !important;
  color: white !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 10px !important;
  font-size: 10px !important;
  width: 30% !important;
  align-self: flex-end !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
}
.send-button-cancel:hover {
  background-color: #599944 !important;
  color: white !important;
}
